<div id="tab-documentos" class="tab-pane">

  <ul class="nav nav-tabs" id="tabDocs">
    <li class="active">
      <%= link_to 'Aportados por el ciudadano', '#tab-docs-ciudadano' %>                
    </li>
    <li><%= link_to 'Todos los documentos', '#tab-docs-all', 'data-togle' => 'tab' %></li>                    
  </ul>                  

  <div id="tabDocContent" class="tab-content">
    <div id="tab-docs-ciudadano" class="tab-pane active well">
      <div class="btn-group">
        <%= link_to icon_tag('Nuevo documento', :class => 'icon-play icon-white'), '#', :class => 'btn btn-primary' %>
        <%= link_to icon_tag('Descargar en zip', :class => 'icon-ok-sign icon-white'), '#', class: 'btn btn-primary' %>                        
        </div>

        <table class="table table-condensed table-striped">                        
          <tbody>
            <% 10.times do %>
              <tr>                      
                <td>Lorem Ipsum has been the</td>                              
                <td><button class="btn btn-primary">Acciones</button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div id="tab-docs-all" class="tab-pane">
        all docs
      </div>
    </div>                                      
  </div>