<div id="tab-registros" class="tab-pane active">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Registros Aplicables - Tarea Actual</th>
        <th>Tipo</th>
        <th>Estado</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% 10.times do %>
        <tr>                      
          <td>Lorem Ipsum has been the</td>
          <td><span class="label label-success">Requerido</span></td>
          <td><span class="label label-success">Íntegro</span></td>
          <td><button class="btn btn-primary">Acciones</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>