<div class="span5 well-simple" id="tareas_wrapper">          
  <fieldset>
    <legend>Tareas</legend>
    <div class="btn-group">
      <%= link_iniciar_tarea(@expediente) %>
      <%= link_finalizar_tarea(@expediente) %>
      <%= link_cancelar_tarea(@expediente, vista_tareas.first) %>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Nombre</th>                      
          <th>Tiempo Transc.</th>
        </tr>              
      </thead>
      <tbody class="table table-condensed table-striped" id="lista_tareas">
        <% vista_tareas.each do |vista_tarea| %>
          <%= render 'expedientes/tarea', :vista_tarea => vista_tarea, 
            :tarea_siguiente => @tarea_siguiente,
            :tarea_expediente_actual => @tarea_expediente_actual, 
            :tarea_actual => @tarea_actual,
            :expediente => @expediente
         %>
        <% end %>
      </tbody>
    </table>
  </fieldset>                      
</div>