<div class="well pull-right well-well">
  <b><%= tarea_siguiente.nombre %></b><br />
  <b>Destino:</b> <%= tarea_siguiente.destino_envio %>
  <div class="pull-right">
    <%= link_to 'Trasladar', iniciar_traslado_path(eid: expediente.id, tid: tarea_siguiente.id), :class => 'btn btn-primary',
                :id => 'tarea_enviar', :rel => "#{expediente.id}-#{tarea_siguiente.id}",
                :confirm => '¿Está seguro de trasladar este expediente?' %>

    <%#= link_to 'Cancelar', cancelar_tarea_path, :class => 'btn btn-primary btn-cancelar',
                :id => 'cancelar_tarea', :rel => "#{expediente.id}-#{vista_tarea.id }-#{ tarea_expediente_actual.id }",
                :confirm => '¿Está seguro que desea CANCELAR esta tarea?' %>

  </div>
</div>
