<section>
  <div class="page-header">
    <h1>Informes <small> Datos estadisticos</small></h1>
  </div>

  <br />

  <div>
    <p><%= link_to "Tiempo promedio de expedientes", mostrar_formulario_path('promedio') %></p>
    <p><%= link_to "Demora de expedientes", form_demora_path %></p>
    <p><%= link_to "Demanda de procesos", form_demanda_path %></p>
    <p><%= link_to "Rendimiento del Personal", form_rendimiento_path %></p>
  </div>
</section>