<section>
  <div class="well">
    <%= link_to icon_tag('Volver', :class => 'icon-arrow-left icon-white'), form_demanda_path, class: 'btn btn-primary' %>
    </div>

    <div class="page-header">
      <h1>Informes <small> Demanda de Procedimientos</small></h1>
    </div>
  <%= render 'graph_demanda' %>

      <div id="chart" style="width: 560px; height: 300px;"></div>


      <% if @procedimiento.present? %>
        <p>Procedimiento: <strong><%= @procedimiento.nombre %></strong> </p>
      <% end %>

    </section>
