<section>
  <div class="well">
    <%= link_to icon_tag('Volver', :class => 'icon-arrow-left icon-white'), form_radicados_path, class: 'btn btn-primary' %>
  </div>

  <div class="page-header">
    <h1>Informes <small> Radicacion de expedientes</small></h1>
  </div>
  <%= render 'graph_radicados' %>

  <div id="chart-cantidad" style="width: 560px; height: 300px;"></div>

  <div class="clear"></div>

  <div id="chart-finalizados" style="width: 560px; height: 300px;"></div>
  <div class="clear"></div>

  <div id="chart-porcentaje" style="width: 560px; height: 300px;"></div>
  <div class="clear"></div>

  <div id="chart-porcentaje-anulado" style="width: 560px; height: 300px;"></div>

</section>
