<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <fieldset>
    <%%= f.error_notification %>
    
    <%- attributes.each do |attribute| -%>
      <div class="clearfix">
        <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
      </div>
    <%- end -%>
    </div>

    <div class="actions">
      <%%= f.button :submit, 'Guardar', class: 'btn primary' %>
      <%%= link_to 'Cancelar', <%= plural_table_name %>_path, :class => "btn" %>
    </div>
  </fieldset>
<%% end %>
