.chart{
	display:inline-block;
	width:14px;height:14px;
	vertical-align:text-top;
	background-image:url(/assets/chart.png);
	/*background-position:14px 14px;*/
	background-repeat:no-repeat;
	padding-right: 2px;
	*margin-right:.3em;
}